# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
